/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body  {
  background-image: url("http://p1.pichost.me/i/38/1615285.jpg");
  font-family: sans-serif;
  margin-left: 2%;
  margin-right: 2%
}

#website-name {
  float: left;
  font-variant: small-caps;
  font-style: italic;
  color: #000445;
  font-size: 2.5em;
}

hr {
  margin: 0;
  clear: both;
  visibility: hidden;
}

#login-bar {
  float: right;
  margin-top: 40px;
}

#find-a-job, #post-a-job, #applied-jobs, #created-jobs {
  display: inline-block;
  border-style: solid;
  border-radius: 10px;
  width: 20%;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  overflow: hidden;
  cursor: pointer;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 25px;
  margin-right: 25px;
}

#search-bar {
  margin-left: 20px;
}
