<%= form_tag find_job_posts_path, id: "search-bar" do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search" %>
  </p>
<% end %>

<div>
  <ul>
  <% @job_posts.each do |job_post| %>
    <li><%= link_to job_post.title, job_post_path(job_post) %></li>
  <% end %>
  </ul>
</div>
